<div class="container text-center">
    <div class="form-signin">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>        
            <div class="form-floating">
              <input class="form-control" formControlName="username" placeholder="name@example.com">
              <label>Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" formControlName="password" placeholder="Password">
              <label>Password</label>
            </div>        
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="loading">Sign in</button>
        </form>
    </div>
</div>